<!DOCTYPE html>
<html leng="pt-br">
	<header>
		<meta charset="utf-8">
		<title>api Pockemon</title>
	</header>
	<style>
		*, ::before, ::after{
			padding:0;
			margin:0;
			box-sizing:border-box;
			font-family:'calibri', sans-serif;
		}
		
		.poke{
			margin: 20px;
			border:1px solid #ddd;
			width:300px;
			height:350px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			border-radius:5px;
		}
		
		.poke > p {
			font-size:2rem;
			text-transform:uppercase;
			color:#ddd;
			text-shadow:1px 1px 1px black;
		}
		
		.poke > img{
			width:200px;
			height:200px;
			object-fit:cover;
			object-position:center;
		}
		
		.poke > .abi{
			display:flex;
			justify-content:center;
			align-items:center;
			flex-direction:column;
		}
		
		.poke > .abi > h1{
			text-transform:uppercase;
			margin-bottom:5px;
			font-size:1.5rem;
		}
		
		.poke > .abi > ul{
			list-style:none;
		}
	</style>
	<body>
		<div class="poke">
			
		</div>
	</body>
	<script type="text/javascript">
		(function(){
			const $ = (e) => document.querySelector(e);
			
			const url = "https://pokeapi.co/api/v2/pokemon/25/";
			
			const options = {
				method:"POST",
				heders:{
					"Content-Type":"application/json"
				}	
			}
			
			fetch(url, { options })
				.then((response) => {
					return response.json()
				}).then((data) => {
					console.log(data)
					$(".poke").innerHTML = `
											<p>${data.name}</p>
												<img src="${data.sprites.front_default}"/>
												<div class="abi">
													<h1>Abilidades</h1>
													<ul>
														<li>${data.abilities[0].ability.name}</li>
														<li>${data.abilities[1].ability.name}</li>
													</ul>
												</div>
											`;
				}).catch((err) => {
					console.log(err)
				});
			
		})();
	</script>
</html














