<!DOCTYPE html>
<html leng="pt-br">
	<header>
		<meta charset="utf-8">
		<title>api Pockemon</title>
	</header>
	<style>
		*, ::before, ::after{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}
	</style>
	<body>
	
		<div id="listar">
		
		<%- l.forEach((elem) => { %>
			<span><%- elem %></span>
		<%- });  %>
		
		</div>
		
	</body>
	<script type="text/javascript">
		(function(){
			
			const $ = (e) => document.querySelector(e);
	
		})();
	</script>
</html














