<!DOCTYPE html>
<html leng="pt-br">
	<header>
		<meta charset="utf-8">
		<title>api Pockemon</title>
	</header>
	<style>
		*, ::before, ::after{
			margin:0;
			padding:0;
			box-sizing:border-box;
			font-family:"calibri", sans-serif;
		}
		
		body{
			background-color:#f1f1f1;
		}
		
		.list{
			display:flex;
			flex-wrap:wrap;
			margin:20px;
		}
		.list > div{
			width:200px;
			padding:10px;
			border:1px solid #ddd;
			display:grid;
			justify-content:center;
			align-items:center;
			text-align:center;
			margin:3px;
			border-radius:5px;
			background-color:#fff;
		}
		
		.list > div > p{
			text-transform:uppercase;
			font-size:1rem;
			color:#ddd;
			text-shadow:.5px .5px .5px black;
			padding-bottom:5px;
		}
		
		.list > div > img{
			padding:30px;
		}
		
		.list > div > div{
			display:flex;
		}
		
		.list > div > div > div:nth-child(1){
			display:grid;
			padding:10px;
			background-color:#ddd;
			color:#fff;
			border-top-left-radius:20px;
			border-bottom-left-radius:20px;
		}
		
		.list > div > div > div:nth-child(1) > p{
			font-size:.8rem;
			text-transform:uppercase;
			color:rgb(0,0,0,.4);
		}
		
		.list > div > div > div:nth-child(2){
			padding:3px;
			width:100px;
			border:1px solid #ddd;
			border-top-right-radius:20px;
			border-bottom-right-radius:20px;
		}
		
		.list > div > div > div:nth-child(2) > p{
			font-size:.8rem;
		}
	</style>
	<body>
		
		<div class="list"></div>
		
	</body>
	<script type="text/javascript">
		(function(){
			const $ = (e) => {
				return document.querySelector(e)
			}
			
			for(var i = 0; i < 10; i++) {
				const url     = `https://pokeapi.co/api/v2/pokemon/${i}`;
				const options = {
					method:"POST",
					heders:{
						"Content-Type":"application/json"
					}
				}
				
				fetch(url, { options })
					.then((response) => {
						return response.json();
					}).then((data) => {
						//console.log(data);
						$(".list").innerHTML +=`
												<div>	
													<p>${data.name}</p>
													<img src="${data.sprites.front_default}">
													<div>
														<div>
															<p>Abilidades</p>
														</div>
														<div>
															<p>${data.abilities[0].ability.name}</p>
															<p>${data.abilities[1].ability.name}</p>
														</div>
													</div>
												</div>
												`;
						
					}).catch((err) => {
						console.log(err)
					});
			}
		})();
	</script>
</html














